<div class="article">
	<h2 class="title">
		$macros.LoadThemeView("components/events/event-date.view")
		<a class="title #if ($events.HasDate($post)) with-date #end" href="$post.Url" rel="bookmark" title="$events.Title($post, ' am ', ', Sprecher: ')">
			$post.Title
		</a>
	</h2>
	<div class="teaser gray">
		<div class="top">
			<div class="left"></div>
			<div class="right"></div>
		</div>
		<div class="content upcoming-events">
			<ul class="event-info">
				<li>
					<strong>Beginn:</strong>
					$events.StartDate($post)
				</li>
				<li>
					<strong>Ende:</strong>
					$events.EndDate($post)
				</li>
				<li>
					<strong>Ort:</strong>
					$events.Location($post)
				</li>
				<li>
					<strong>Sprecher:</strong>
					$events.Speaker($post)
				</li>
				#if ($events.CanCreateCalendarItem($post))
				<li>
					<strong>Kalendereintrag:</strong>
					<a href="$macros.ThemeFile('Handlers/Calendar.ashx')?eventId=$post.ID" title="Kalendereintrag herunterladen"><img src="$macros.ThemeFile('/images/outlook-icon.png')" alt="Kalendereintrag" /></a>
				</li>
				#end
				#if ($events.RegistrationPossible($post))
				<li>
					<strong>Registrierung:</strong>
					<a href="/anmeldung/?eventId=$post.ID">Registrierung ist erforderlich</a>
				</li>
				#end
			</ul>
		</div>
		<div class="bottom">
			<div class="left"></div>
			<div class="right"></div>
		</div>
	</div>		
	<div class="body">
		$post.Body
	</div>
	$macros.LoadThemeView("components/posts/footer.view")
</div>