<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<connectionStrings>
		<add name="Graffiti-Testing"
			 connectionString="Data Source=(local); Initial Catalog=Graffiti_Test_Graffiti_UserGroups; Integrated Security=true; Persist Security Info=false;" />
	</connectionStrings>
	
	<appSettings>
		<add key="DataBuddy::ConnectionString"
			 value="Graffiti-Testing" />

		<add key="DataBuddy::Provider"
			 value="DataBuddy.SQL2K5DataProvider, DataBuddy" />
	</appSettings>
</configuration>