<html>
<head>
<title></title>
</head>
<body>
	#if($formOfAddress == "mr")
		#set($formOfAddressText = "Mr")
	#else
		#set($formOfAddressText = "Mrs")
	#end
	
	#if($occupation == "student")
		#set($occupationText = "Student")
	#elseif($occupation == "researcher")
		#set($occupationText = "Researcher")
	#else
		#set($occupationText = "Other")
	#end

	#if ($isCcToAttendee)
		<p>
			#if($formOfAddress == "mr")
				Dear Mr $name,
			#else
				Dear Mrs $name,
			#end
		</p>
		<p>
			as requested you receive a copy of your registration to the following event.
			
			#if ($isOnWaitingList)
				<strong>Please note that we can accept only a limited number of registrations. Your request for registration is on out waiting list.
				If it is possible that you can attend to the event, we will contact you directly.</strong>
			#end
		</p>
	#else
		<h2>
			New registration
		</h2>
	#end

	<h3>
		Registration for event</h3>
	<p>
		We received your request for registration: <a href="$settings.BaseUrl$event.Url" title="Go to event page">
			$event.Title
		</a>
	</p>
	#if ($events.CanCreateCalendarItem($event))
		<p>
			For this event 
			<a href="$settings.BaseUrl$macros.ThemeFile('Handlers/Calendar.ashx')?eventId=$event.ID">
				a calendar item download
			</a>
			is available.
		</p>
	#end

	<h3>
		Attendee</h3>
	<p>
		<ul>
			<li>
				Form of address: $formOfAddressText</li>
			<li>
				Name: $name</li>
			<li>
				Status: $occupationText</li>
			<li>
				E-mail: <a href="mailto:$attendeeEMail">$attendeeEMail</a></li>
			<li>
				Waiting list: #if($isOnWaitingList) Yes #else No #end</li>
		</ul>
	</p>
</body>
</html>
