<div class="teaser orange">
	<div class="top">
		<div class="left"></div>
		<div class="right"></div>
	</div>
	<div class="content upcoming-events">
		<h1 class="archive-head">
			Upcoming Events
			<a href="$events.GetFeedUrl()" title="Subscribe to events RSS feed"><img src="$macros.ThemeFile('/images/feed.png')" alt="RSS feed" /></a>
		</h1>

		#set($futureEvents = $events.GetUpcoming(3))

		#foreach($post in $futureEvents)
		#beforeall
			<ol>
		#each
			<li>
				<a href="$post.Url" rel="bookmark" title="$events.Title($post, ' on ', ', speaker: ')">
					$events.Date($post, "", ":") $post.Title
				</a>
			</li>
		#afterall
			</ol>
			<a href="$events.GetCategoryLink()" class="more" rel="bookmark">Show more events &raquo;</a>
		#nodata
			$macros.LoadThemeView("components/no-data.view")
		#end
	</div>
	<div class="bottom">
		<div class="left"></div>
		<div class="right"></div>
	</div>
</div>		