<h1 class="archive-head">
	Material zu den Vorträgen
	<a href="$talks.GetFeedUrl()" title="RSS-Feed für Vorträge abonnieren"><img src="$macros.ThemeFile('/images/feed.png')" alt="RSS-Feed" /></a>
</h1>
<p class="meta">
	Hier finden sich Folien (soweit sie zum nachträglichen Lesen geeignet sind), weiterführende Links, Downloads, etc. zu den
	Vorträgen, typischerweise ein paar Tage nach der jeweiligen <a href="$events.GetCategoryLink()" title="Zur Veranstaltungsliste">Veranstaltung</a>.
</p>

#set($posts = $talks.GetForCurrentYear())

#foreach($post in $posts)
	$macros.LoadThemeView("components/talks/talk.view")
#nodata
	$macros.LoadThemeView("components/no-data.view")
#end