/* Change default HTML styles. */
* {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI" , "Lucida Grande" , "Lucida Sans Unicode" , "Lucida Sans" , "Trebuchet MS" , Tahoma, Verdana, sans-serif;
}

li {
	list-style-type: none;
}

a img {
	border-style: none;
}

label {
	cursor: pointer;
}

/* Clearfix, the ie part is in the ie css */
.clearfix {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* General styling. */
body {
	background: #E3E3E3 url(../images/bg.gif) repeat-x;
	color: #1B1B1B;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0.25em;
	font-weight: normal;
}

p {
	margin-bottom: 1em;
	line-height: 1.3;
}

p.meta {
	border: 1px solid #FF7500;
	padding: 0.5em;
	font-size: 0.9em;
	background-color: #FFDC7F;
	margin-bottom: 2em;
}

p.meta a {
	font-weight: bold;
}

a {
	color: #1D6D05;
	text-decoration: none;
}

a.more,
span.more {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	font-size: 0.8em;
	font-weight: bold;
	}

a:hover {
	text-decoration: underline;
}

/* Lists. */
ul.list, ol.list {
	margin-left: 3em;
	margin-bottom: 1em;
}

.list li {
	margin-bottom: .5em;
	color: #1B1B1B;
}

ul.list li {
	list-style-type: disc;
}

ol.list li {
	list-style-type: decimal;
}

/* Layout. */
html {
	height: 100.01%;
}

.wrapper {
	position: relative;
	width: 980px;
	margin: 0 auto;
	font-size: 1em;
}

#content-shadow {
	padding-right: 5px;
	border-left: solid 1px #9A9A9A;
	background: url(../images/left_background.gif) right repeat-y;
}

#content-wrapper {
	background: #FFF url(../images/sidebar-background.gif) repeat-y scroll right top;
}

#content {
	float: left;
	width: 100%;
	margin-right: -290px;
	background: url(../images/content-top-background.gif) repeat-x;
}

#inner-wrapper {
	margin: 2em 330px 3em 2em;
}

/* Header. */
#header {
	clear: both;
	padding: 1em 1em 0 1em;
	border-bottom: solid 1px #9A9A9A;
	background: #FFF url(../images/header-background.png) repeat-x left bottom;
	color: #000;
}

#header h1 {
	margin-bottom: 0;
	font-size: 2.2em;
}

#header #site-logo {
	margin-right: 30px;
	float: right;
}

#header h1 a {
	color: #1D6D05;
	font-weight: bold;
}

#tag-line {
	clear: both;
}

#header h1 a:hover {
	text-decoration: none;
}

#header .badge {
	margin-left: 0.5em;
	margin-top: -20px;
	vertical-align: bottom;
}

/* Menu. */
#navigation {
	background: #011220 url(../images/menu-background-inactive.png) repeat-x left top;
	height: 35px;
	overflow: hidden;
	position: relative;
	width: 100%;
	font-size: 1.25em;
}

#navigation h2 {
	display: none;
}

#menu {
	clear: both;
	display: inline;
}

#menu li {
	background: url(../images/menu-divider.png) no-repeat right top;
	display: block;
	float: left;
	padding: 0.1em 1em 0 1em;
	height: 100%;
	overflow: hidden;
}

#menu li.selectedli {
	background: url(../images/menu-background-active.png) repeat-x left top;
}

#menu li.rss {
	background-image: none;
	}

#menu a {
	color: #FFF;
	font-weight: normal;
}

#menu a:hover {
	text-decoration: none;
}

#menu-bottom {
	width: 100%;
	height: 10px;
	background: #011220 url(../images/menu-background-bottom-inactive.png) repeat-x scroll left top;
	}

#menu-bottom.active {
	background-image: url(../images/menu-background-bottom-active.png);
	}

/* Sidebar. */
#sidebar {
	overflow: hidden;
	float: right;
	width: 290px;
	padding-top: 1em;
	padding-bottom: 2em;
	background: #0870C9 url(../images/sidebar-background.gif) right top repeat-y;
	color: #FFF;
}

#sidebar h1 a, #sidebar h2 a, #sidebar h3 a, #sidebar h4 a, #sidebar h5 a, #sidebar h6 a {
	font-weight: normal;
}

/* Sidebar boxes. */
#sidebar .boxy {
	margin: 1em;
	padding: 0.3em 1em 1em 1em;
}

.boxy a {
	color: #FFF;
}

.boxy li {
	margin-left: 1em;
}

.boxy h3 {
	border-bottom: 1px solid #FFF;
	margin-bottom: 1em;
}

/* Footer. */
#footer {
	padding: 1em 2em;
	border-top: solid 1px #343434;
	background: #272727 url(../images/footer-background.gif) left bottom repeat-x;
	color: #BABABA;
	font-size: .8em;
}

#footer a {
	color: #BABABA;
	font-weight: bold;
}

#footer a:hover {
	color: #EAEAEA;
}

#footer .logo {
	float: right;
}

/* Related posts. */
#similar-posts h3, #comments h3, #comment-form h3 {
	margin-top: 2em;
	margin-bottom: 1em;
	color: #E68800;
	font-size: 1.5em;
	font-weight: normal;
}

ul.archive li {
	list-style-type: square;
	margin-left: 1.5em;
	}

/* Article. */
.article h2.title {
	position: relative;
	}

.article .title a.date {
	font-weight: normal;
	color: #000;
	}

.article .title a.date:hover {
	color: #000;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
	}

.article .title span.date {
	background: transparent url(../images/date-background.gif) no-repeat scroll top left;
	position: absolute;
	min-height: 44px;
	width: 49px;
	top: -5px;
	font-size: 0.7em;
	text-align: center;
	display: block;
}

.article .title span.date.other-year {
	background: transparent url(../images/date-background-other-year.gif) no-repeat scroll top left;
}

.article .title span.date span {
	display: block;
	width: 42px;
}

.article .title span.date span.month-year {
	color: #FFF;
	font-size: 0.7em;
}

.article .title span.date span.day {
	font-weight: bold;
}

.article .title a.title.with-date {
	padding-left: 50px;
}

.article {
	margin-bottom: 2em;
}

.article h2.title {
	clear: both;
	margin-bottom: 0.6em;
}

.article .meta {
	margin-bottom: 1em;
	color: #838383;
	font-size: .8em;
}

.article .body {
	margin-bottom: 1em;
}

.article .body a{
	font-weight: bold;
}

/* article and comment body */
.body ul, .article .body ol {
	margin-left: 3em;
	margin-bottom: 1em;
}
.body li {
	margin-bottom: .5em;
	color: #1b1b1b;
}
.body ul li {
	list-style-type: disc;
}
.body ol li {
	list-style-type: decimal;
}
.body h1, .body h2, .body h3, .body h4, .body h5, .body h6 {
	color: #1b1b1b;
	text-transform: none;
}
.body pre {
	overflow: auto;
	width: 99%;
	margin-bottom: 1.5em;
	border: dotted 1px #cacaca;
	background-color: #f6f6f6;
	color: #666;
}

fieldset {
	margin-bottom: 1em;
	border-style: none;
}
fieldset dt {
	margin-bottom: .25em;
	color: #838383;
	font-weight: bold;
}
fieldset dd {
	margin-bottom: 1em;
}

fieldset input:hover, fieldset textarea:hover {
	background-color: #f2f2e2;
}
fieldset input:focus, fieldset textarea:focus {
	background-color: #fafaea;
}

input {
	padding: 2px 4px;
	vertical-align: baseline;
}
fieldset textarea {
	width: 500px;
	height: 200px;
}
#search {
}
#search fieldset {
	text-align: right;
}
#search fieldset input {
	width: 90%;
}
